@page
@model IndexModel
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <p>Welcome back, @User.Identity?.Name!</p>
}
else
{
    <p>Please sign in to access more features.</p>
}
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Forums</p>
                <ul>
                    <li>Create new page</li>
                    <li>Find page</li>
                    <li>Your Pages</li>
                </ul>
            </div>
            <div class="col">
                <p>Group</p>
                <ul>
                    <li>Create new Group</li>
                    <li>Find Group</li>
                    <li>Your Groups</li>
                </ul>
            </div>
            <div class="col">
                <p>Popular pages</p>
            </div>
        </div>
    </div>
</div>
