@page
@using Microsoft.AspNetCore.Identity
@model IndexModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <p>Welcome back, @User.Identity?.Name!</p>
}
else
{
    <p>Please sign in to access more features.</p>
}
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            @if (User.IsInRole("Admin"))
            {
                <div class="col">
                <p>Admin</p>
                <ul>
                     <li><a asp-page="/CreatePage">Create new page</a></li>
                     <li><a asp-page="/Admin">User Management</a></li>
                </ul>
            </div>
            }
            <div class="col">
                <p>Forums</p>
                <ul>
                    
                    <li><a asp-page="/Forums">Find Page</a></li>
                    <li>Your Pages</li>
                </ul>
            </div>
            <div class="col">
                <p>Messages</p>
                <ul>
                    <li><a asp-page="/Conversations">Conversations</a></li>
                    <li><a asp-page="/Friendpage">Follows</a></li>
                    <li><a asp-page="/ProfilePicture">Profile Picture</a></li>

                </ul>
            </div>
            <div class="col">
                <p>Popular pages</p>
            </div>
        </div>
    </div>
</div>
