@page
@model No_Forum.Pages.ProfilePictureModel
@{
}

<h2>Upload Profile Picture</h2>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="ProfileImage" accept="image/*" required />
    <button type="submit">Upload</button>
</form>


